@font-face {
font-family: "Polya";
src: url("/static/POLYA.otf");
src:
url("/static/POLYA.otf") format("opentype"),

}

body{
  margin: 0;
}
.headerWrapper{
  position: fixed;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  z-index: 40;
  top: 0;
  transition: all 1s ease-in-out;
  border-bottom: 1px dashed white;
  color: white;
}

.onScroll{
  background-color: white;
  color: white;
  transition: all 1s ease-in-out;
  border-bottom: 1px dashed grey;
  text-decoration: none;
}


.onScroll p{
  color: #0070e3 !important;
  transition: all 1s ease-in-out;
}

.headerWrapper p{
  transition: all 1s ease-in-out;
  font-weight: bold;
  display: inline;
  margin-left: 20px;
}

.headerContentWrapper{
  padding-right: 2%;
  padding-left: 2%;
}

.contentWrapper h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.contentWrapper p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 40%;
}

.sectionOne{
  color: #5d6f7d;
  background-color: white;
  padding-bottom: 60px;
  float: left;
  height: 350px;
  text-align: left;
  padding-top: 80px;
}

.button{
  color: #0070e3;
  background: none;
  border: 2px solid #0070e3;
  border-radius: 50px;
  height: 50px;
  width: 150px;
}

.menu{
  height: 100%;
  display: inline;
  padding-top: 5px;
  text-decoration: none;
  float: right;
}

.menu p{
  font-family: 'Poppins', sans-serif;
  text-align: right;
  font-size: 22px;
  display: inline;
}

.menu a{
    text-decoration: none;
    color: white;
}
.bannerContent{
  padding-top: 12%;
}

.menu p:hover{
  border-bottom: 3px solid white;
  transition: all 0.5s ease-in-out;
}

.onScroll p:hover{
  border-bottom: 3px solid #005bb8;
  transition: all 0.5s ease-in-out;
}

.onScroll img{
  filter: brightness(100%) !important;
}

.titleContainer h1, h3{
  font-family: 'Poppins', sans-serif;
  color: white;
}
.titleContainer h1{
  font-size: 70px;
  opacity: 0;
  animation-duration: 3.5s;
  animation-name: fade;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}
.titleContainer h3{
  font-size: 26px;
  opacity: 0;
  font-weight: 300;
  animation-duration: 3.5s;
  animation-name: fade;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}
.titleContainer{
  margin-left: 5%;
  top: 20%;
  width: 40%;
  text-align: left;
}


.logo{
  position: fixed;
  background-image: url("/static/images/GlogoWhite.png");
  background-size: cover;
  height: 40px;
  transition: all 1s ease-in-out;
  padding-top: 5px;
  margin-top: -5px;
  width: 40px;
}
.logoScroll{
  background-image: url("/static/images/Glogo.png") !important;
  transition: all 1s ease-in-out;
}

.bannerWrapper{
  height: 100vh;
  z-index: -1;
  position: static;
  top: 0;
  margin: 0;
  background: linear-gradient(180deg, rgba(0, 91, 184, 0.5215686274509804) 0%, rgba(18,65,124,0.976604215905112) 100%);
  width: 100%;
}

.bannerWrapper::before{
  content: "";
  top: 0; left: 0;
  background-image: url("/static/images/car3.jpg");
  background-size: cover;
  width: 100%; height: 100%;
  z-index: -1;
  background-position: center;
  background-color: white;
  background-attachment: fixed;
  position: absolute;
}
.sectionTwo{
    background-image: url("/static/images/bannerpeople.png");
    background-position: center;
    color: white;
    float: right;
    text-align: right;
    background-attachment: fixed;
    background-size: cover;
    position: static;
    width: 100%;
    padding-top: 70px;
    height: 400px;
    margin-bottom: 20px;
}

.sectionTwo p{
  padding-right: 10%;
  padding-left: 40%;
}

.spacer{
  margin-top: 95vh;
}
.contentWrapper{
  height: auto;
  top: 100vh;
  position: absolute;
  margin: 0;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px -6px 82px -16px rgba(0,0,0,1);
  -moz-box-shadow: 0px -6px 82px -16px rgba(0,0,0,1);
  box-shadow: 0px -6px 82px -16px rgba(0,0,0,1);
}

/*Icon code from :https://codemyui.com/scroll-icon-animation/ */
.icon-scroll{
  position: absolute;
  left: 50%;
  width: 40px;
  opacity: 0;
  height: 70px;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
  animation-name: fade;
  animation-delay: 2.5s;
  bottom: 13vh;
  margin-left: -20px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.road{
  border-bottom: 5px dashed grey;
  height: 49%;
  width: 50%;
  float: right;
  position: absolute;
}

.icon-scroll:before{
  content: '';
  width: 8px;
    animation-iteration-count: infinite;
  height: 8px;
  position: absolute;
  animation-fill-mode: none;
  left: 50%;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 2.5s;
  animation-name: scroll;
}

.footer{
  text-align: center;
  padding-top: 60px;
}

.footer p{
  padding-right: 10%;
  font-size: 14px;
}

@media screen and (max-width: 630px) {
  .titleContainer h1{
    font-size: 100px;
    text-align: center;
  }
  .titleContainer h3{
    font-size: 35px;
    text-align: center;
  }
}

@keyframes scroll{
  0%
    {opacity: 0;}
    50%
      {opacity: 1;}
  90%{
    opacity: 0;
    transform: translateY(46px);}
    100%{
      opacity: 0;}
  }

  @keyframes fade{
    0%
      {opacity: 0}
    100%
    {opacity: 1}
    }
