<!doctype html>

{% include 'modules/fonts.html' %}
{% include 'modules/header.html' %}


<div class = "bannerWrapper">
  <div class = "bannerContent">
  <h1>Going somewhere?</h1>
  <p>Welcome to your free resource for driving education</p>
  </div>
<div class = "banner">
</div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
  <polygon points="0,0 0,100 55,100"></polygon>
    <polygon points="100,100 100,0 45,100"></polygon>
</svg>

<div class = "content contentGreen">
  <div class = "container containerGreen">
  <h1>Taking you places</h1>
  <p>We give you the push you need to get on the road. Free theory courses and hazard perception tests are just the start of what we plan to offer.</p>
  </div>
</div>

<div class = "content contentRed">
  <div class = "container containerRed">
  <h1>Keeping you on track</h1>
  <p>Our courses have been created with help from professional driving instructors to ensure that we only teach the most accurate theory.
  Press the 'Learn' button to begin the course.</p>
  </div>
</div>
